---
import Layout from "../layouts/Layout.astro";
import ScrollView from "../components/ScrollView.astro";
import ExperienceBar from "../components/ExperienceBar.astro";
import { getCollection } from "astro:content";
import figlet from "figlet";

const now = new Date().getTime();
const experience = (await getCollection("experience")).sort((a, b) => {
	const da = a.data.endDate?.getTime() ?? now;
	const db = b.data.endDate?.getTime() ?? now;
	return db - da;
});

const font = "Future";
const firstName = figlet.textSync("Jake", { font });
const lastName = figlet.textSync("Korvemaa", { font });

const socials = [
	{
		title: "Email",
		icon: "envelope-fill",
		url: "mailto:contact@korvemaa.dev",
	},
	{ title: "GitHub", icon: "github", url: "https://github.com/korvemaa" },
	{
		title: "LinkedIn",
		icon: "linkedin",
		url: "https://linkedin.com/in/jakekve",
	},
	{
		title: "YouTube",
		icon: "youtube",
		url: "https://www.youtube.com/@JakeK",
	},
];

const skills = [
	"c#",
	"c/c++",
	"unity",
	"javascript",
	"azure",
	"html/css",
	"blender",
	"lua",
	"webgl",
	"substance-painter",
	"python",
	"git",
	"kubernetes",
	"figma",
].sort();
---

<Layout>
	<ScrollView useMargin={true} style="scroll-behavior:smooth;">
		<div class="page">
			<div class="header-content">
				<section class="avatar-box">
					<img src="/profile_fat.png" />
				</section>
				<section style="justify-content: center;">
					<div>
						<pre class="ascii">{firstName}</pre>
						<pre class="ascii">{lastName}</pre>
					</div>
					<div>
						Sydney based software developer working at
						<a href="/projects/enviz">Enviz</a>
					</div>
					<hr />
					<div class="socials">
						{
							socials.map((social) => (
								<a
									target="_blank"
									href={social.url}
									class={"icon bi bi-" + social.icon}
								>
									{social.title}
								</a>
							))
						}
					</div>
				</section>
			</div>
			<div class="about-content">
				<section>
					<h2>Technical Skills</h2>
					<hr />
					<p>
						I work across the software stack, from systems and
						tooling to backend and frontend development, shaped by
						real-time, interactive work and complemented by
						experience in level design and texture art.
					</p>
					<hr />
					<div class="technical">
						{skills.map((skill) => <code>{skill}</code>)}
					</div>
				</section>
				<div style="display:flex;flex-direction: column; gap:1rem;">
					<section>
						<h2>My Interests</h2>
						<hr />
						<p>
							I like learning new things, always challenging
							myself with building different and unique projects.
						</p>
						<p>
							Outside of development I love hitting the <a
								href="/motorsport">track and going fast</a
							> and unwinding playing games when time allows it.
						</p>
					</section>
					<section>
						<span id="motd" style="align-self: flex-start;"
							>MOTD</span
						>
					</section>
				</div>
			</div>
			<section id="experience">
				<h2>Professional Experience</h2>
				<hr />
				{
					experience.map((job) => (
						<a href={job.data.projects}>
							<ExperienceBar experience={job} />
						</a>
					))
				}
			</section>
		</div>
	</ScrollView>
</Layout>

<script defer>
	const motd = document.getElementById("motd");
	const proverbs = [
		"When you force a melon from the vines, it won't be sweet.",
		"A man who plants melons will harvest melons, and a man who plants beans will harvest beans.",
		"When you drink the water, remember the spring as the source of the water.",
		"Constant dripping wears away a stone.",
		"It takes more than one cold day for the river to freeze three feet deep.",
		"Just as distance tests a horse's strength, time can reveal a person's heart.",
		"Good medicine tastes bitter.",
		"The timber's already a boat; the rice is cooked.",
		"Great wisdom can seem foolish.",
		"Water drops pierce stone; rope saws cut wood.",
		"Blessings come in disguise.",
		"If you don't do stupid things you won't end up in tragedy.",
		"If small holes aren't fixed, then big holes will bring hardship.",
		"It's better to walk thousands of miles than to read thousands of books.",
		"Too many cooks spoil the broth.",
		"Every step makes a footprint.",
		"Ignorance is bliss.",
		"Disaster comes from the careless talk.",
		"You reap what you sow.",
		"Those who just want speed don't succeed.",
		"A book is a pocket garden.",
		"An inch of time is worth an inch of gold, but an inch of gold may not buy an inch of time.",
		"Flowers may bloom again; you're never young again.",
		"A blind horse always frightens itself.",
		"Different locks must be opened with different keys.",
		"Dig the well before you are thirsty.",
		"The best time to plant a tree was 20 years ago. The second best time is now.",
		"The journey of a thousand miles begins with one step.",
		"An ant's hole can cause the collapse of a dam.",
		"Three parts fate, seven parts hard work.",
		"Give a man a fish, and you feed him for a day; teach a man to fish, and you feed him for a lifetime.",
		"When drinking water, think of its source.",
		"Do not impose on others what you yourself do not desire.",
		"Those who know do not speak, those who speak do not know.",
	];

	function randomProverb() {
		return proverbs[Math.floor(Math.random() * proverbs.length)];
	}

	const SPEED = 80; // pixels per second

	function runMotd() {
		motd.textContent = "Proverb: " + randomProverb();
		motd.style.transition = "none";
		motd.style.transform = `translateX(${motd.parentElement.clientWidth}px)`;

		requestAnimationFrame(() => {
			const textWidth = motd.offsetWidth;
			const screenWidth = motd.parentElement.clientWidth;
			const duration = (screenWidth + textWidth) / SPEED;

			motd.style.transition = `transform ${duration}s linear`;
			motd.style.transform = `translateX(-${textWidth}px)`;

			setTimeout(runMotd, duration * 1000);
		});
	}

	runMotd();
</script>

<style>
	.page {
		display: flex;
		flex-direction: column;
		margin: 1rem;
		gap: 1rem;
	}

	.header-content {
		display: grid;
		gap: 1rem;
		grid-template-columns: max-content auto;
	}

	.about-content {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
	}

	.technical {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	}

	.technical code {
		font-size: 12px;
	}

	section {
		display: flex;
		flex-direction: column;
		padding: 1rem;
		border: var(--border-width) dotted var(--dimmed-glow-color);
		overflow: hidden;
		gap: 0.5rem;
		background: var(--box-fade);
	}

	section#experience a {
		text-decoration: none;
		border: var(--border-width) dotted var(--dimmed-glow-color);
		padding: 1rem;
	}

	section#experience a:hover {
		background-color: var(--dimmed-glow-color);
	}

	section p,
	section h2 {
		/* Spacing is driven by gap */
		margin: 0;
		background-color: transparent;
		padding: 0;
	}

	.socials {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1rem;
	}

	.socials a {
		padding: 0.5rem 1rem;
		border: var(--border-width) dotted var(--dimmed-glow-color);
		display: flex;
		flex-grow: 1;
		justify-content: center;
		text-decoration: none;
		align-items: center;
	}

	.socials a:hover {
		background-color: var(--dimmed-glow-color);
	}

	.socials a::before {
		padding-right: 1rem;
	}

	.ascii {
		font-family: monospace;
		font-synthesis-weight: none;
		font-variant-ligatures: none;
		line-height: 1;
		padding: 0;
		margin: 0;
		user-select: none;
	}

	#motd {
		white-space: nowrap;
	}

	/* Don't show avatar if screen is small */

	@media (max-width: 890px) {
		.header-content {
			display: block;
		}

		.avatar-box {
			display: none;
		}
	}

	.avatar-box img {
		align-self: flex-start;
		display: flex;
		aspect-ratio: 1/1;
		width: 185px;
	}
</style>
