---
import { getCollection, getEntry } from "astro:content";
import Layout from "@layout/Layout.astro";
import ScrollView from "@component/ScrollView.astro";
import VerticalProjectTile from "@component/VerticalProjectTile.astro";
import SimpleProjectTile from "@component/SimpleProjectTile.astro";

const projects = (await getCollection("project"))
    .filter((e) => e.id.startsWith("enviz"))
    .sort((a, b) => {
        const da = a.data.date?.getTime() ?? 100;
        const db = b.data.date?.getTime() ?? 100;
        return db - da;
    });

const platforms = projects.filter((e) => e.data.group.endsWith("Apps"));
const modes = projects.filter((e) => e.data.group.endsWith("Modes"));
const automation = projects.filter((e) => e.data.group.endsWith("Automation"));
---

<Layout title="Enviz">
    <ScrollView useMargin={true}>
        <div class="content">
            <section>
                Enviz
                <hr />
                The ultimate sales platform for selling un-built property.
            </section>
            <section id="projects">
                Automation
                <hr />
                The backend system that runs in the cloud for processing automated
                conversions.
                <div class="grid">
                    {
                        automation.map((post) => {
                            return (
                                <a href={`/${post.id}`}>
                                    <SimpleProjectTile
                                        title={post.data.title}
                                        thumbnail={post.data.thumbnail}
                                    />
                                </a>
                            );
                        })
                    }
                </div>
            </section>
            <section id="projects">
                Apps
                <hr />
                Because Enviz's client uses Unity we're able to easily deploy to a
                wide net of platforms such as VR, mobile and web.
                <div class="grid">
                    {
                        platforms.map((post) => {
                            return (
                                <a href={`/${post.id}`}>
                                    <VerticalProjectTile
                                        title={post.data.title}
                                        thumbnail={post.data.thumbnail}
                                    />
                                </a>
                            );
                        })
                    }
                </div>
            </section>
            <section id="projects">
                Modes
                <hr />
                Different types of modes in spaces that allow traversal and exploring
                in a variety of ways.
                <div class="grid">
                    {
                        modes.map((post) => {
                            return (
                                <a href={`/${post.id}`}>
                                    <SimpleProjectTile
                                        title={post.data.title}
                                        thumbnail={post.data.thumbnail}
                                    />
                                </a>
                            );
                        })
                    }
                </div>
            </section>
        </div>
    </ScrollView>
</Layout>

<style>
    section {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border: var(--border-width) dotted var(--dimmed-glow-color);
        overflow: hidden;
        gap: 0.5rem;

        background: var(--box-fade);
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
        gap: 0.5rem;
    }

    section#projects a {
        text-decoration: none;
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }
</style>
