---
import { getImage } from "astro:assets";
import type { CollectionEntry } from "astro:content";

import { timeAgo } from "../utility";

type Project = CollectionEntry<"project">;

interface Props {
    project: Project;
}

const { project } = Astro.props;

const image =
    project.data.thumbnail != null
        ? await getImage({
              src: project.data.thumbnail,
              height: 400,
              width: 400,
          })
        : null;
---

<article class="tile">
    <div class="thumbnail" style={`background-image: url(${image?.src});`}>
    </div>
    <div class="body">
        <h2>{project.data.title}</h2>
        <hr />
        <span class="group">{project.data.description}</span>

        <div style="display: flex; flex-grow: 1;"></div>
        <div class="tags">
            {
                project.data.tags &&
                    project.data.tags.sort().map((tag) => <code>{tag}</code>)
            }
        </div>

        <div class="bottom">
            {
                project.data.date && (
                    <span class="age">{timeAgo(project.data.date)}</span>
                )
            }
        </div>
    </div>
</article>

<style>
    .tile {
        position: relative;
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        align-items: stretch;
        border: var(--border-width) dotted var(--dimmed-glow-color);
        overflow: hidden;
    }

    .tile:hover {
        background-color: var(--dimmed-glow-color);
    }

    .thumbnail {
        display: flex;
        aspect-ratio: 1/1;
        width: 190px;
        height: 190px;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 0.5rem;
        padding: 1rem;
    }

    .group {
        display: flex;
        flex-grow: 1;
    }

    .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-shrink: 1;
        gap: 4px;
        font-size: 12px;
    }

    .age {
        opacity: 0.3;
    }

    .ascii {
        font-family: monospace;
        line-height: 1;
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 12px;
        z-index: -1;
        padding: 0;
        margin: 0;
    }

    h2 {
        display: flex;
        margin: 0;
        font-size: var(--font-size);

        background: transparent;
        padding: 0;

        text-align: left;
        justify-content: flex-start;
        align-items: center;
    }

    @media (max-width: 550px) {
        .tile {
            flex-direction: column;
        }

        .thumbnail {
            width: unset;
            height: unset;
        }
    }
</style>
