---
import ScrollView from "../../components/ScrollView.astro";
import { timeAgo } from "../../utility";

import { getImage } from "astro:assets";
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { date } from "astro:schema";

export async function getStaticPaths() {
    const posts = await getCollection("project");
    return posts.map((project) => ({
        params: { slug: project.id },
        props: project,
    }));
}

type Props = CollectionEntry<"project">;

const post = Astro.props;
const { Content } = await render(post);

const thumbnail =
    post.data.thumbnail != null
        ? await getImage({ src: post.data.thumbnail })
        : null;

const gallery = post.data.gallery
    ? await Promise.all(
          post.data.gallery.map(async (src) => {
              return await getImage({ src });
          }),
      )
    : null;
---

<Layout
    title={post.data.title}
    description={post.data.description}
    image={post.data.thumbnail}
>
    <div class="project-layout">
        <div class="project-content">
            <ScrollView>
                <div class="project-gallery">
                    {
                        gallery &&
                            gallery.map((img) => (
                                <img
                                    loading="lazy"
                                    src={img.src}
                                    width={img.attributes.width}
                                    height={img.attributes.height}
                                />
                            ))
                    }
                </div>
                <Content />
            </ScrollView>
        </div>
        <aside class="project-details">
            <div>
                <div
                    class="project-thumbnail"
                    style={`background-image: url(${thumbnail?.src});`}
                >
                </div>
                <span class="project-title"> {post.data.title}</span>
            </div>
            <div class="details-body">
                <p>{post.data.description}</p>
                {
                    post.data.date && (
                        <span class="project-age">
                            {timeAgo(post.data.date)}
                        </span>
                    )
                }
            </div>
        </aside>
    </div>
</Layout>

<style>
    .project-layout {
        display: flex;
        overflow: hidden;
        flex-direction: row;
        flex-grow: 1;
    }

    .project-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 1rem;
    }

    .project-galley {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        image-rendering: optimizeQuality;
    }

    .project-galley img {
        border-radius: 0;
    }

    .project-details {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;

        width: 400px;

        border-left: var(--border-width) solid var(--text-color);
        margin: 1rem 0;
        margin-right: 1rem;
    }

    .details-body {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }

    .details-body p {
        margin: 0;
    }

    .project-title {
        display: flex;
        background-color: var(--text-color);
        color: black;
        padding: 1rem;
        text-shadow: none;
        font-weight: bold;

        text-align: left;
        justify-content: flex-start;
        align-items: center;
    }

    .project-age {
        color: var(--dimmed-glow-color);
    }

    .project-thumbnail {
        display: flex;
        aspect-ratio: 1/1;

        image-rendering: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
    }
</style>
