---
import Layout from "../../layouts/Layout.astro";
import ScrollView from "../../components/ScrollView.astro";
import ProjectTile from "../../components/ProjectTile.astro";

import { getCollection } from "astro:content";
const posts = await getCollection("project");

// 1. Sort by date (assuming `data.order` is your date/order field)
posts.sort((a, b) => {
    const da = a.data.date?.getTime() ?? 100;
    const db = b.data.date?.getTime() ?? 100;
    return db - da;
});

const groups = Array.from(new Set(posts.map((p) => p.data.group)));
---

<Layout title="Projects">
    <ScrollView style="visibility:hidden" useMargin={true}>
        <div class="project-grid">
            {
                posts.map((post) => {
                    return (
                        <a
                            data-group={post.data.group}
                            href={`/projects/${post.id}`}
                        >
                            <ProjectTile project={post} />
                        </a>
                    );
                })
            }
        </div>
    </ScrollView>
</Layout>

<script>
    /*
        Scrolling save state
    */

    const scroller = document.getElementById("scroll-view") as HTMLElement;
    const key = `scroll:${location.pathname}`;

    function save() {
        sessionStorage.setItem(key, scroller.scrollTop.toString());
    }

    function restore() {
        const pos = sessionStorage.getItem(key);
        if (pos) scroller.scrollTop = Number(pos);
    }

    restore();
    scroller.style.visibility = "visible";

    window.addEventListener("beforeunload", save);
</script>

<style>
    nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
        padding-bottom: 0;
        gap: 1rem;

        overflow-x: visible;
    }

    nav a {
        padding: 0.25rem 1rem;
        text-decoration: none;
        border: var(--border-width) dotted var(--dimmed-glow-color);
        white-space: nowrap;
    }

    nav a:hover {
        background-color: var(--dimmed-glow-color);
    }

    nav a.active {
        background-color: var(--text-color);
        border: none;
        text-shadow: none;
        color: black;
    }

    .project-grid {
        flex-direction: column;
        text-decoration: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(450px, 100%), 1fr));
        padding: 1rem;
        gap: 1rem;
    }

    .project-grid a {
        text-decoration: none;
    }
</style>
