---
import { getCollection } from "astro:content";
import Layout from "@layout/Layout.astro";
import ScrollView from "@component/ScrollView.astro";
import ProjectTile from "@component/ProjectTile.astro";
import SimpleProjectTile from "@component/SimpleProjectTile.astro";

const projects = (await getCollection("project"))
    .filter((e) => e.id.startsWith("projects"))
    .sort((a, b) => {
        const da = a.data.date?.getTime() ?? 100;
        const db = b.data.date?.getTime() ?? 100;
        return db - da;
    });

const now = new Date().getTime();
const experience = (await getCollection("experience")).sort((a, b) => {
    const da = a.data.endDate?.getTime() ?? now;
    const db = b.data.endDate?.getTime() ?? now;
    return db - da;
});
---

<Layout title="Personal">
    <ScrollView useMargin={true}>
        <div class="content">
            <section id="experience">
                Professional Work
                <hr />
                <div class="grid">
                    {
                        experience.map((company) => (
                            <a href={company.data.projects}>
                                <SimpleProjectTile
                                    title={company.data.name}
                                    thumbnail={
                                        company.data.thumbnail ||
                                        company.data.icon
                                    }
                                />
                            </a>
                        ))
                    }
                </div>
            </section>
            <section id="projects">
                Personal Projects
                <hr />
                <div class="collection">
                    {
                        projects.map((post, index) => {
                            return (
                                <a
                                    data-group={post.data.group}
                                    href={`/${post.id}`}
                                >
                                    <ProjectTile project={post} />
                                </a>
                            );
                        })
                    }
                </div>
            </section>
        </div>
    </ScrollView>
</Layout>

<style>
    .content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }

    section {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border: var(--border-width) dotted var(--dimmed-glow-color);
        overflow: hidden;
        gap: 0.5rem;
        background: var(--box-fade);
    }

    section#projects .collection {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    section#projects .collection a {
        text-decoration: none;
        /* background: var(--box-fade); */
    }

    section#experience .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
        gap: 0.5rem;
    }

    section#experience .grid a {
        text-decoration: none;
    }
</style>
