---
import { getImage } from "astro:assets";
import { type CollectionEntry, render } from "astro:content";
import Layout from "@layout/Layout.astro";
import ScrollView from "@component/ScrollView.astro";
import OpenGraphImage from "@component/OpenGraphImage.astro";
import Breadcrumbs from "@component/Breadcrumbs.astro";

type Props = {
    post: CollectionEntry<"project">;
    backUrl: string;
    breadcrumb?: string;
};
const { post, backUrl, breadcrumb } = Astro.props;
const { Content } = await render(post);

const thumbnail = post.data.thumbnail
    ? await getImage({ src: post.data.thumbnail, width: 512 })
    : null;

const gallery = await Promise.all(
    (post.data.gallery || []).map((src) => getImage({ src, width: 1440 })),
);

const videos = post.data.videos;

const hasArticle = (post.body || "").length > 0;
const hasGallery = gallery?.length != 0;
const hasVideos = post.data.videos;

const routes = [{ href: "/projects", name: "Projects" }];
if (breadcrumb) {
    routes.push({ href: backUrl, name: breadcrumb || "undefined" });
}
---

<Layout title={post.data.title} description={post.data.description}>
    <OpenGraphImage slot="head" image={thumbnail} />
    {
        post.data.tags && (
            <meta
                slot="head"
                property="keywords"
                content={post.data.tags.join(", ")}
            />
        )
    }
    <Breadcrumbs active={post.data.title} routes={routes} />
    <ScrollView style="scroll-behavior:smooth;" useMargin={true}>
        <article>
            {
                hasArticle && (
                    <section id="article">
                        <div>
                            <Content />
                        </div>
                    </section>
                )
            }
            {
                hasVideos && (
                    <section id="videos">
                        Videos
                        <hr />
                        <div class="grid">
                            {videos &&
                                videos.map((video) => (
                                    <iframe
                                        class="youtube-video"
                                        src={`https://www.youtube.com/embed/${video}`}
                                        allowfullscreen
                                    />
                                ))}
                        </div>
                    </section>
                )
            }
            {
                hasGallery && (
                    <section id="gallery">
                        Gallery
                        <hr />
                        {gallery &&
                            gallery.map((img) => (
                                <img
                                    loading="lazy"
                                    src={img.src}
                                    width={img.attributes.width}
                                    height={img.attributes.height}
                                />
                            ))}
                    </section>
                )
            }
        </article>
    </ScrollView>
</Layout>

<style>
    article {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 1rem;
        gap: 1rem;
    }

    section {
        border: var(--border-width) dotted var(--dimmed-glow-color);
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        background: var(--box-fade);
    }

    section#about {
    }

    section#about .title {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    section#about .title a {
        text-decoration: none;
    }

    section#about .title a:hover {
        text-decoration: underline;
    }

    section#about .content {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    section#about .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 12px;
        gap: 0.5rem;
    }

    section#about .thumbnail {
        aspect-ratio: 1/1;
        height: 150px;

        background-position: center;
        background-size: cover;
    }

    section#about .age {
        opacity: 0.4;
    }

    img {
        border-radius: 0;
        image-rendering: auto;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
        gap: 0.5rem;
    }

    .youtube-video {
        display: inline-flex;
        aspect-ratio: 16/9;
        flex-grow: 1;
        width: 100%;
        height: 100%;
        border: 0;
    }
</style>
