---
import { getImage } from "astro:assets";
import { type CollectionEntry, render } from "astro:content";
import Layout from "@layout/Layout.astro";
import ScrollView from "@component/ScrollView.astro";
import OpenGraphImage from "@component/OpenGraphImage.astro";
import Breadcrumbs from "@component/Breadcrumbs.astro";
import { timeAgo } from "@src/utility";

type Props = {
    post: CollectionEntry<"project">;
    backUrl: string;
    breadcrumb?: string;
};
const { post, backUrl, breadcrumb } = Astro.props;
const { Content } = await render(post);

const thumbnail = post.data.thumbnail
    ? await getImage({ src: post.data.thumbnail, width: 512 })
    : null;

const gallery = await Promise.all(
    (post.data.gallery || []).map((src) => getImage({ src, width: 1440 })),
);

const videos = post.data.videos;

const hasArticle = (post.body || "").length > 0;
const hasGallery = gallery?.length != 0;
const hasVideos = post.data.videos;

const routes = [];

if (!post.id.startsWith("motorsport"))
    routes.push({ href: "/projects", name: "Projects" });

if (breadcrumb) {
    routes.push({ href: backUrl, name: breadcrumb || "undefined" });
}
---

<Layout title={post.data.title} description={post.data.description} useNavigation={false}>
    <OpenGraphImage slot="head" image={thumbnail} />
    {
        post.data.tags && (
            <meta
                slot="head"
                property="keywords"
                content={post.data.tags.join(", ")}
            />
        )
    }
    {
        routes.length > 0 && (
            <Breadcrumbs active={post.data.title} routes={routes} />
        )
    }
    <ScrollView style="scroll-behavior:smooth;" useMargin={true}>
        <article>
            <section id="about">
                <div
                    style={`background-image: url('${thumbnail?.src}')`}
                    class="thumbnail"
                >
                </div>
                <div class="content">
                    <h2>{post.data.title}</h2>
                    <hr />
                    <p>{post.data.description}</p>
                    <div style="display: flex; flex-grow: 1;"></div>
                    <div class="tags">
                        {
                            post.data.tags &&
                                post.data.tags
                                    .sort()
                                    .map((tag) => <code>{tag}</code>)
                        }
                    </div>

                    <div class="bottom">
                        {
                            post.data.date && (
                                <span class="age">
                                    {timeAgo(post.data.date)}
                                </span>
                            )
                        }
                    </div>
                </div>
            </section>
            {hasArticle && <Content />}
            {
                hasVideos && (
                    <section id="videos">
                        <h2>Videos</h2>
                        <hr />
                        <div class="grid">
                            {videos &&
                                videos.map((video) => (
                                    <iframe
                                        class="youtube-video"
                                        src={`https://www.youtube.com/embed/${video}`}
                                        allowfullscreen
                                    />
                                ))}
                        </div>
                    </section>
                )
            }
            {
                hasGallery && (
                    <section id="gallery">
                        <h2>Gallery</h2>
                        <hr />
                        {gallery &&
                            gallery.map((img) => (
                                <img
                                    loading="lazy"
                                    src={img.src}
                                    width={img.attributes.width}
                                    height={img.attributes.height}
                                />
                            ))}
                    </section>
                )
            }
        </article>
    </ScrollView>
</Layout>

<style>
    h2 {
        background: none;
        padding: 0;
        margin: 0;
        font-size: var(--font-size);
    }

    article {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 1rem;
        gap: 1rem;
    }

    section {
        border: var(--border-width) dotted var(--dimmed-glow-color);
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        background: var(--box-fade);
    }

    section#about {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    section#about .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 0.5rem;
    }

    section#about .content p {
        display: flex;
    }

    section#about .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-shrink: 1;
        gap: 4px;
        font-size: 12px;
    }

    section#about .age {
        opacity: 0.4;
    }

    section#about .thumbnail {
        display: flex;
        aspect-ratio: 1/1;
        width: 180px;
        height: 180px;
        image-rendering: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    img {
        border-radius: 0;
        image-rendering: auto;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
        gap: 0.5rem;
    }

    .youtube-video {
        display: inline-flex;
        aspect-ratio: 16/9;
        flex-grow: 1;
        width: 100%;
        height: 100%;
        border: 0;
    }
</style>
